{% load static %}
{% extends "base.html" %}
{% block title %}Artículos en Stock{% endblock %}
{% block content %}
<h1>Lista de Artículos en Stock</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.nombre }}</td>
            <td>{{ item.cantidad }}</td>
            <td>{{ item.precio }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}